<div class="container">
    <div class="jumbotron">
        <br />
        <h3>Entre em contato conosco:</h3>
        <p>
            <br />
            <span>
                <img src="~/images/phone-app-icon.png" />
            </span>
            <h5>(11) 5593-5344</h5>
            <br />
            <span>
                <img src="~/images/Home-iconred.png" />
            </span>
            <h5>Rua Cubatão, 726 - 04013-001 - São Paulo</h5>
        </p>
    </div>
</div>
